/*tablet*/
@media screen and (min-width: 768px) { 
    .table-container .row{
        justify-content: space-around;
        flex-direction: row;
    }
    .col-70, .col-33, .col-30{
        margin: 10px;
    }
    .col-70{
        width: calc(100%/3 * 2 - 20px);
    }
    .col-30{
        width: calc(100%/3 - 20px);
    }
    .col-33{
        width: calc(100% / 3);
    }
    .benefit-card{
        width: calc(50% - 40px);
    }
    .about-container .row{
        justify-content: space-around;
        flex-direction: row;
    }
    .btn-big{
        width: 50%;
    }
    .col-70 .table-card{
        text-align: left;
    }
    .table-card-img img{
        max-height: 240px;
        width: 50%;
    }
    .col-30 .table-card, .col-70 .table-card{
        min-height: 500px;
        max-height: 500px;
    }
    .testimonial-card{
        display: flex;
        text-align: left;
        padding: 40px 0;
    }
    .testitmonial-card-text{
        padding-left: 40px;
    }
    .about-right-col-profile-img img{
        width: 200px;
        height: 200px;
    }
    .about-right-col-profile{
        width: 220px;
    }
    .col-60{
        margin: 0 30px;
    }
    .col-40{
        margin: 100px 30px;
    }
    .font-bigger{
        font-size: 15px;
    }
    .about-container{
        margin-bottom: 150px;
    }

}

/*schermo-medio*/
@media screen and (min-width: 992px){ 
    .container-strategic-app .row{
        justify-content: space-around;
        flex-direction: row;
    }
    .container-strategic-app, .testimonial-container, .container-benefits, .about-container, .table-container{
        width: 80%;
    }
    .col-50{
        margin: 0 20px;
    }
    .testimonial-container .row{
        flex-direction: column;
    }
    .benefit{
        width: calc(100% / 3);
    }
    .about-container .row{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .price-container, .footer-container{
        width: 50%;
    }  
}

/*schermo-grande*/
@media screen and (min-width: 1200px){ 
    .table-container, .testimonial-container, .container-benefits, .container-strategic-app, .about-container{
        width: 60%;
    }
    .price-container, .footer-container{
        width: 30%;
    }
}