/*tablet*/
@media screen and (min-width: 768px) { 
    .table-container .row{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .col-70, .col-33, .col-30, .col-40, .col-60{
        margin: 10px;
    }
    .col-70{
        width: calc(100%/3 * 2 - 20px);
    }
    .col-30{
        width: calc(100%/3 - 20px);
    }
    .col-33{
        width: calc(100% / 3);
    }
    .benefit{
        width: 50%;
    }
    .about-container .row{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}

/*schermo-medio*/
@media screen and (min-width: 992px){ 
    .container-strategic-app .row{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .container-strategic-app{
        width: 80%;
    }
    .col-50{
        margin: 0 20px;
    }
    .testimonial-container .row{
        flex-direction: column;
    }
    .testimonial-container{
        width: 80%;
    }
    .container-benefits{
        width: 80%;
    }
    .benefit{
        width: calc(100% / 3);
    }
    .about-us .row{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }   
}

/*schermo-grande*/
@media screen and (min-width: 1200px){ 
    .table-container{
        width: 60%;
    }
    .testimonial-container{
        width: 60%;
    }
    .container-benefits{
        width: 60%;    
    }
}