*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
/* utilities */
/* ***************************************************** */
.row-header{
    display: flex;
    justify-content: space-around;
}
.row{
    display: flex;
    flex-direction: column;
}
.align-items{
    align-items: center;
}
.flex{
    display: flex;
}
.lightblue-container{
    background-color: #B5DDFF;
}
.blue-container{
    background-color: #9792E4;
    width: 100%;
}
.white-container{
    background-color: white;
}
.btn-blue{
    background-color: #0084FD;
    color: white;
    border: 1px solid #0084FD;
}
.btn-purple-blue{
    background-color: #9792E4;
    color: white;
    border: 1px solid #9792E4;
}
.btn-white{
    background-color: white;
    color: #9792E4;
    border: 1px solid white;
}
.btn-big{
    width: 100%;
    padding: 10px 0;
    border-radius: 50px;    
}
.btn-medium{
    width: 70%;
    padding: 10px 0;
    border-radius: 50px;
}
.font-bigger{
    font-size: 20px;
}
.border-radius{
    border-radius: 30px;
}
.margin-card{
    margin-bottom: 40px;
}
/* header struttura */
/* ***************************************************** */
.header-container{
    background-color: #0084FD;
    width: 100%;
    margin-bottom: 40px;
}
.col-container{
    width: 50%;
}
.underline{
    text-decoration: underline;
}
/* main struttura */
/* ***************************************************** */
.table-container{
    width: 90%;
    margin: 0 auto;
}
.col-70, .col-30, .col-33{
    width: 100%;
    margin: 10px auto;
}


/* container strategic-app */
.container-strategic-app{
    width: 80%;
    margin: 0 auto;
}
.col-50{
    width: 100%;
    margin: 20px 0;
}

/* container testimonial */
.testimonial-container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* container benfit */
.container-benefits{
    width: 90%;
    margin: 0 auto;
}
.benefit-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/* container about us */
.about-container{
    width: 90%;
    margin: 0 auto;
}
.col-40, .col-60{
    width: 100%;
    margin: 20px auto;
}
/* price container */
.price-container{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;    
}
.price-col{
    width: 100%;
}

/* footer struttura */
/* ***************************************************** */
.footer-container{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;    
}
.footer-col{
    width: 100%;
}
.gray-container{
    background-color: #333333;
}


/* main stile */
/* ***************************************************** */

/* first table */
.logo-header{
    margin-left: 20px;
    padding: 20px 0;
}
.menu-header{
    display: flex;
    justify-content: flex-end;
    color: white;
    margin-right: 30px;
}
.table-card{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.table-card-title{
    color: #0084FD;
    font-size: 25px;
    padding: 20px 0;
}
.table-card-text{
    color: #5A6E7F;
    padding-bottom: 40px;
}
.table-card-img{
    padding-top: 20px;
}
.table-card-img img{
    width: 100%;
}
.table-card-icon{
    padding-top: 30px;
}
.table-card-icon i{
    color: #0084FD;
    font-size: 100px;
}

/*strategic-app */
.strategic-card{
    color: white;
}
.strategic-card-img img{
    width: 90%;
}
.strategic-card-title{
    font-size: 40px;
    padding: 30px 0;
}
.strategic-card-text{
    line-height: 1.5;
}
.app-card{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
.app-card-img img{
    width: 90%;
}
.app-card-title{
    font-size: 30px;
}
.app-card-text{
    font-style: italic;
    color: #333333;
    margin: 20px 0;
    line-height: 1.5;
}
.app-card-arrow{
    background-color: #9792E4;
    padding: 10px;
    width: 10%;
    border-radius: 100%;
    font-size: 20px;
    margin: 0 auto;
}

/* container testimonial */
.testimonial-title-1{
    margin: 40px 0 20px;
}
.testimonial-title-2{
    color: #9792E4;
    font-size: 40px;
}
.testimonial-paragraph{
    line-height: 1.5;
    color: #5A6E7F;
    font-size: 20px;
    margin: 20px 0;
}
.testimonial-card{
    color: white;
    width: 90%;
    margin: 30px auto;
    padding: 20px 0;
}
.testimonial-card-img img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.testimonial-card-quote{
    line-height: 1.5;
    font-size: 20px;
}
.testimonial-card-quote::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f10e"; font-size: 20px;
    margin-left: 10px;
}
.testimonial-card-quote::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f10d"; font-size: 20px;
    margin-right: 10px;
}
.testimonial-card-name{
    font-size: 25px;
    padding: 30px 0 20px;
}

/* container benfit */
.benefit-card-container{
    width: 80%;
    margin: 0 auto;
}
.benefit-title{
    text-align: center;
    font-size: 35px;
    color: white;
    margin: 40px 0;    
}
.benefit-card-number{
    color: #9792E4;
    font-size: 60px;
    padding-top: 20px;
}
.benefit-card-title{
    color: #9792E4;
    font-size: 30px;
    margin: 20px 0;
}
.benefit-card-paragraph{
    color: #5A6E7F;
    line-height: 1.5;
}
.benefit-card-button{
    padding: 20px 0;
    font-size: 20px;
}
.benefit-card{
    margin: 0 20px;
}

/* container about us */
.about-left-col-title{
    color: #9792E4;
    font-size: 60px;
    margin: 50px 0 20px;
}
.about-left-col-paragraph{
    line-height: 2;
    font-size: 20px;
    color: #333333;
}
.about-right-col-profile {
    position: relative;
    width: 320px;
}
.about-right-col-profile-img img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.about-right-col-profile-tick{
    font-size: 70px;
    color: #9792E4;
    position: absolute;
    top: 0;
    right: 0;
}
.about-right-col-quote{
    font-size: 40px;
    color: #9792E4;
    margin-top: 20px;
}
.about-right-col-button{
    margin: 20px 0 80px;
}

/* price container */
.price-col-container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.get-started{
    color: #5A6E7F;
    font-size: 20px;
}
.simple{
    font-size: 35px;
    margin: 20px 0 30px;
}
.free{
    color: #FDC15F;
    font-size: 70px;
}
.beta{
    line-height: 1.5;
    margin: 20px 0;
}
.copyright{
    margin: 30px 0;
}

/* footer stile */
/* ***************************************************** */
.footer-col-container{
    color: white;
}
.footer-col-container-section-2{
    margin:80px 0 20px;
}
.footer-col-container-section-2 a{
    color: #0084FD;
}