*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utilities */
/* ***************************************************** */
.row-header{
    display: flex;
    justify-content: space-around;
}
.row{
    display: flex;
    flex-direction: column;
}
.align-items{
    align-items: center;
}
.flex{
    display: flex;
}

/* header struttura */
/* ***************************************************** */
.header-container{
    background-color: #0084FD;
    width: 100%;
}
.col-container{
    width: 50%;
}

/* main struttura */
/* ***************************************************** */
.table-container{
    width: 90%;
    margin: 0 auto;
}
.col-70, .col-30, .col-33{
    width: 100%;
    height: 200px;
    margin: 20px auto;
    border: 1px solid black;
    background-color: #B5DDFF;
}


/* container stratigh-app */
.blue-container{
    background-color: #9792E4;
    width: 100%;
}
.container-strategic-app{
    width: 90%;
    margin: 10px auto;
}
.col-50{
    width: 100%;
    margin: 20px 0;
    height: 400px;
    border: 1px solid black;
    background-color: antiquewhite;

}

/* container testimonial */
.testimonial-container{
    width: 90%;
    margin: 0 auto;
}
.testimonial-text{
    height: 100px;
    border: 1px solid black;
    background-color: blueviolet;
}
.card{
    width: 100%;
    margin: 10px 0;
    height: 400px;
    border: 1px solid black;
    background-color: purple;
}

/* container benfit */
.container-benefits{
    width: 90%;
    margin: 0 auto;
}
.benefit-text{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    background-color: aqua;
    margin: 20px 0;
}
.benefit-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.benefit{
    width: 100%;
    margin: 20px 0;
    height: 200px;
    border: 1px solid black;
    background-color: aliceblue;
}
/* container about us */
.about-container{
    width: 90%;
    margin: 0 auto;
}
.col-40, .col-60{
    width: 100%;
    height: 200px;
    margin: 20px auto;
    border: 1px solid black;
    background-color: #B5DDFF;
}
/* price container */
.price-container{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;    
}
.price-col{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    background-color: chocolate;
}

/* footer struttura */
/* ***************************************************** */
.footer-container{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;    
}
.footer-col{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    background-color: coral;
    
}
.gray-container{
    background-color: #333333;
}

/* header stile */
/* ***************************************************** */
.logo-header{
    margin-left: 20px;
    padding: 20px 0;
}
.menu-header{
    display: flex;
    justify-content: flex-end;
    color: white;
    margin-right: 30px;
}